.boxmodel{
    margin: 0 auto;
    width: 800px;
    border: 10px solid;
    padding: 10px;
    border-color: chartreuse aqua blue violet;
}

.boxmodel p{
    border: 3px dotted darkred;
    padding: 10px;
}

#box1{
    margin-bottom: 20px;
}

#box2{
    margin-bottom: 40px;
}

#box3{
    margin-bottom: 60px;
}